.cards-container {
    margin-top: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-container h1 {
    margin-bottom: 0;
}

.review-text {
    margin: 0;
    padding: 15px;
}

.cards-container img {
    width: 20%;
    border-radius: 50%;
}

.component-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}